<div class="top-color">
	<div class="container">
		<div class="row">
			<h1 class="top-message">日本酒と出会いませんか？</h1>
		</div>
		<div class="row">
			<div class="top-img">
			</div>
		</div>
		<div class="row">
			<h1 class="sub-message">Sake Searchは新たな日本酒と出会えるSNSです</h1>
		</div>
		<div class="row">
			<p class="sub-text">覗いてみましょう</p>
		</div>
		<div class="row">
			<div class="col-md-2 offset-md-5">
				<% unless user_signed_in? %>
				<button class="login-btn btn-border">
					<%= link_to "ゲストとしてログイン", users_guest_sign_in_path, method: :post, class: "login-btn" %>
				</button>
				<% else %>
				<button class="login-btn btn-border">
					<%= link_to "タイムライン", posts_path,class: "login-btn" %>
				</button>
				<% end %>
			</div>
		</div>
		<div class="row">
			<p class="sub-text">詳しく知る</p>
		</div>
		<div class="row">
			<div class="col-md-2 offset-md-5">
				<button class="login-btn btn-border">
					<%= link_to "About", about_path, class: "login-btn" %>
				</button>
			</div>
		</div>
	</div>
</div>
