<div class="container">
	<div class="row">
		<%= link_to "全体タイムライン", posts_path %>
		<h1>フォロータイムライン</h1>
	</div>
	<div class="row">
		<%= render 'tags/tag_index', tags: @tags %>
	</div>
	<div class="row">
		<%= render 'posts/timeline', posts: @posts %>
	</div>
	<div class="pagination">
	<%= paginate @posts, theme: "twitter-bootstrap-4" %>
    </div>
</div>
