<div class="container">
	<div class="row">
		<div class="col-md-1 offset-md-10 btn-gruop">
			<div class="d-flex justify-content-around">
			<%= link_to "マイページ", user_path(current_user) %>
			<%= link_to "Sign in", new_user_session_path %>
			<%= link_to "Sign up", new_user_registration_path %>
			<%if user_signed_in? %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete%>
			<%end%>
		</div>
		　　</div>
	</div>
</div>