<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-10">
		<%= link_to "Sign in", new_user_session_path %>
		<%= link_to "Sign up", new_user_registration_path %>
	　　</div>
	</div>
</div>